@import url(./estilos/global.css);
@import url(./estilos/home.css);
@import url(./estilos/wiki.css);
@import url(./estilos/perfil.css);
@import url(./estilos/trabalhos.css);
@import url(./estilos/header.css);
