.secao-carrossel {
  margin: 1.5rem auto;
}

.secao-carrossel h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.carrossel-scroll {
  display: flex; /* Coloca as fotos uma ao lado da outra */
  gap: 15px; /* Espaço entre elas */
  overflow-x: auto; /* Permite rolar para o lado */
  padding-bottom: 20px;

  /* Experiência nativa de app */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Rolagem suave no iPhone */
}

.carrossel-item {
  scroll-snap-align: center; /* A foto "trava" no canto ao rolar */
  flex: 0 0 auto; /* Impede que a foto seja espremida */
  width: 100%;
}

.carrossel-item img {
  height: 300px; /* ALTURA FIXA: O segredo! */
  width: 100%;
  border-radius: 8px;
  object-fit: contain; /* Garante que a foto apareça inteira */
  background: var(--background-dark-transparente);
}

.botoes-filtro {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;
}

.botoes-filtro button {
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: var(--destaque-bonnie);
  font-size: 1rem;
  color: var(--texto);
}

.botoes-filtro button[selected] {
  background-color: var(--background-dark-transparente);
  border: 2px solid var(--destaque-emi);
}

.controles input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid var(--destaque-bonnie);
  background-color: var(--background-dark-transparente);
  color: var(--texto);
  font-size: 1rem;
}

.controle input:focus {
  border: 2px solid var(--destaque-emi);
}
