.lista-secoes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.secao-carrossel {
  margin: 0;
  width: 100%;
}

.secao-carrossel h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.carrossel-scroll {
  display: flex; /* Coloca as fotos uma ao lado da outra */
  gap: 15px; /* Espaço entre elas */
  overflow-x: auto; /* Permite rolar para o lado */
  padding-bottom: 20px;
  scroll-behavior: smooth;
  width: 100%;

  /* Experiência nativa de app */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Rolagem suave no iPhone */
}

.carrossel-scroll::-webkit-scrollbar {
  display: none;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 28px;
  height: 28px;
  color: var(--texto);
}

.carrossel-item .img {
  /* ALTURA FIXA: O segredo! */
  height: 320px;
  width: 100%;
  border-radius: 8px;
  object-fit: contain; /* Garante que a foto apareça inteira */
}

.swiper {
  background: var(--background-dark-transparente);
  border-radius: 8px;
}

.carrossel-item .legenda,
.carrossel-item .creditos {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.botoes-filtro {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;
}

.botoes-filtro button {
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: var(--destaque-bonnie);
  font-size: 1rem;
  color: var(--texto);
  cursor: pointer;
}

.botoes-filtro button[selected] {
  background-color: var(--background-dark-transparente);
  border: 2px solid var(--destaque-emi);
}

.controles input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid var(--destaque-bonnie);
  background-color: var(--background-dark-transparente);
  color: var(--texto);
  font-size: 1rem;
}

.controle input:focus {
  border: 2px solid var(--destaque-emi);
}

@media screen and (min-width: 512px) {
  .secao-carrossel {
    max-width: 350px;
  }
}

@media screen and (min-width: 820px) {
  section.galeria {
    max-width: max-content;
  }

  .galeria .controles {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .carrossel-item {
    height: 440px;
  }
}
