section.galeria {
  padding: 2rem 1rem;
}

.lista-secoes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.secao-carrossel {
  margin: 0;
  width: 100%;
}

.secao-carrossel h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.carrossel-scroll {
  display: flex; /* Coloca as fotos uma ao lado da outra */
  gap: 15px; /* Espaço entre elas */
  overflow-x: auto; /* Permite rolar para o lado */
  padding-bottom: 20px;
  scroll-behavior: smooth;
  width: 100%;

  /* Experiência nativa de app */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* Rolagem suave no iPhone */
}

.carrossel-scroll::-webkit-scrollbar {
  display: none;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  width: 28px;
  height: 28px;
  color: var(--texto);
}

.swiper {
  height: 440px;
  padding: 0 0.5rem;
  background: var(--background-dark-transparente);
  border-radius: 8px;
  backdrop-filter: blur(5px);
}

.carrossel-item .img {
  /* ALTURA FIXA: O segredo! */
  height: 320px;
  width: 100%;
  border-radius: 8px;
  object-fit: contain; /* Garante que a foto apareça inteira */
}

.carrossel-item .carrossel-item_content {
  padding: 1rem;
}

.botoes-filtro {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 1rem;
}

.botoes-filtro button {
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: var(--destaque-primario);
  font-size: 1rem;
  font-weight: bold;
  color: var(--texto);
  cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.botoes-filtro button:hover, .btn-limpar:hover {
  transform: translateY(-3px);
}

.botoes-filtro button.active {
  background-color: var(--background-dark-transparente);
  border: 2px solid var(--destaque-secundario);
}

.btn-limpar {
  padding: 0.5rem 1rem;
  background: var(--background-dark-transparente);
  border-radius: 8px;
  margin-top: 1rem;
  border: 2px solid var(--destaque-secundario);
  color: var(--texto);
  cursor: pointer;
  transition: transform 0.2s;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
display: flex;
gap: .5rem

}

.controles input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid var(--destaque-primario);
  background-color: var(--background-dark-transparente);
  color: var(--texto);
  font-size: 1rem;
}

.controle input:focus {
  border: 2px solid var(--destaque-secundario);
}

@media screen and (min-width: 768px) {
  .secao-carrossel {
    width: 100%;
  }

  .swiper {
    height: 480px;
  }

  .carrossel-item {
    padding: 1rem;
  }
}

@media screen and (min-width: 820px) {
  .galeria .controles {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (min-width: 1024px) {
 section .galeria {
  max-width: none;
  width: 100%
 }
}
