@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

:root {
  --destaque-primario: #9307bb;
  --destaque-secundario: #ff9d00;

  --background-dark: #0e0e0e;
  --background-dark-transparente: #0e0e0ea4;
  --background-sombra: #333333;

  --background-image-mobile: none;
  --background-image-tablet: none;
  --background-image-desktop: none;

  --texto: #f5f5f5;
  --font-title: "Rubik Mono One", monospace;
}

body {
  background: var(--background-dark);
  color: var(--texto);
  font-size: 1rem;
  line-height: 1.6;
  scroll-behavior: smooth;
}

main {
  background-image: var(--background-image-mobile);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.scrollTop-btn {
  background-color: var(--destaque-primario);
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 18px;
  width: 50px;
  align-self: self-end;
  cursor: pointer;

  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 10;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.footer {
  background: var(--background-dark-transparente);
  text-align: center;
  padding: 2rem;
  font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
  main {
    background-image: var(--background-image-tablet);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  main {
    background-image: var(--background-image-desktop);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
