@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

:root {
  --destaque-primario: #9307bb;
  --destaque-secundario: #ff9d00;
  --background-dark: #0e0e0e;
  --background-dark-transparente: #0e0e0e76;
  --background-sombra: #333333;
  --texto: #f5f5f5;
  --gradiente-destaque: linear-gradient(
    90deg,
    var(--destaque-primario) 0%,
    var(--destaque-secundario) 100%
  );
  --gradiente-destaque-escuro: linear-gradient(
    90deg,
    hsla(287, 91%, 32%, 1) 0%,
    hsla(37, 98%, 35%, 1) 100%
  );
  --font-title: "Rubik Mono One", monospace;
}

body {
  background: var(--background-dark);
  color: var(--texto);
  font-size: 1rem;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.scrollTop-btn {
  background-color: var(--destaque-principal);
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 18px;
  width: 50px;
  align-self: self-end;
  cursor: pointer;

  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  background: var(--destaque-secundario);
  text-align: center;
  padding: 2rem;
  font-size: 0.8rem;
}
