header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--destaque-primario);

  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

header .logo {
  max-width: 100px;
}

header .logo img {
  width: 100%;
}

header a:hover {
  text-decoration: none;
}

.nav {
  color: var(--texto);
  cursor: pointer;
  padding: 0 1rem;
  width: 24px;
  height: 24px;
}

.nav-icons {
  position: relative;

  i {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .fa-bars {
    opacity: 1;
  }

  .fa-xmark {
    opacity: 0;
  }
}

.nav-icons.toggle {
  .fa-bars {
    opacity: 0;
    transform: rotate(180deg);
  }

  .fa-xmark {
    opacity: 1;
    transform: rotate(180deg);
  }
}

.nav_lista {
  position: absolute;
  top: 100%;
  right: 0.5rem;
  padding: 0.5rem 1rem;
  width: 300px;

  background-color: var(--background-sombra);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 3;
  list-style: none;
  animation: fadeOutScale 0.3s ease-in forwards;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animação de Fechamento (Fade & Scale Out) */
@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.nav_lista.open {
  animation: fadeInScale 0.3s ease-out forwards; /* 'forwards' mantém o estado final */
}

.nav_lista .decoration,
.nav_sub-lista .decoration {
  color: var(--background-sombra);
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 1.5rem;
  transform: translateY(-50%);
  margin: 0;
}

.nav_lista li {
  margin: 0.5rem 0;
}

.nav_lista li .link,
.nav_lista li.link {
  color: var(--texto);
  font-weight: 500;
  transition: color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_sub-lista li {
  margin-left: 1rem;
}

.nav_sub-lista .link {
  display: flex;
  justify-content: space-between;
}

.nav_lista .link-title {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 100%;
    height: 100%;
  }

  .nav_lista {
    display: flex;
    place-self: flex-end;
    gap: 2rem;

    background-color: transparent;
    box-shadow: none;
    animation: none;

    padding: 0;
    position: static;
    width: auto;
  }

  .nav_lista .decoration:not(.nav_sub-lista .decoration) {
    display: none;
  }

  .nav_sub-lista .decoration {
    transform: translateY(-50%) rotate(270deg);
    font-size: 2rem;
  }

  .nav_lista .link {
    position: relative;
    gap: 0.5rem;
  }

  .nav_lista .link i {
    transform: rotate(90deg);
  }

  .nav_sub-lista {
    position: absolute;
    top: 200%;
    right: -20%;
    padding: 0.5rem 1rem;

    background-color: var(--background-sombra);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 3;
    list-style: none;
    animation: fadeInScale 0.3s ease-in forwards;
  }

  .nav_lista .link-title {
    gap: 0.8rem;
  }
}

@media screen and (min-width: 1024px) {
  header {
    padding: 1rem 3rem;
  }

  .nav_sub-lista li {
    margin-left: 0;
  }
}
