.home-container {
  background-image: url(/img/bg_img/capa-home_mobile.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.home-container .home-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem;

  min-height: 100vh;
}

.home-container h1 {
  font-size: 2.5rem;
  line-height: 1;
  font-family: var(--font-title);
  margin-bottom: 2rem;
}

.home-container p {
  text-align: center;
  line-height: 1.2;
}

.home-container ul {
  padding-left: 1rem;
}

.home-container a {
  color: var(--texto);
}

.home-container a:hover {
  color: var(--destaque-primario);
}

@media screen and (min-width: 768px) {
  .home-container .home-content {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .home-container {
    background-image: url(/img/bg_img/capa-home_desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
  }
}
