.home-container header {
  background: var(--gradiente-destaque-escuro);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem;

  min-height: 100vh;

  background-image: url(img/bg_img/capa-home_mobile.png);
  background-position: center;
  background-size: cover;
}

.home-container h1 {
  font-size: 2.8rem;
  line-height: 1;
  font-family: var(--font-title);
  margin-bottom: 2rem;
}

.home-container p {
  text-align: center;
  line-height: 1.2;
}

.home-container ul {
  padding-left: 1rem;
}

.home-container a {
  color: var(--texto);
}

.home-container a:hover,
.nav-desktop_lista details ul a:hover {
  color: var(--destaque-emi);
}

.home-container .nav-desktop_lista a:hover,
.home-container .nav-desktop_lista summary:hover {
  color: var(--background-dark);
}
