.capa-trabalhos {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 1rem;
}

.capa-trabalhos_emibonnie {
    background-image: url('/img/bg_img/capa-trabalhos-emibonnie-mobile.png');
    background-position: top;
    height: 280px;
}
.capa-trabalhos_emi {
    background-image: url('/img/bg_img/capa-trabalhos_emi-mobile.png');
}
.capa-trabalhos_bonnie {
    background-image: url('/img/bg_img/capa-trabalhos_bonnie-mobile.png');
}

.trabalhos-container h1 {
    padding-top: 2rem;
    text-align: center;
    line-height: 1;
    font-size: 2rem;
}

.secao-trabalhos {
    padding: 1rem;
}

.secao-trabalhos h2 {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.secao-trabalhos .tipo-trabalho {
 font-size: 2rem;
 margin-bottom: 1rem;
}

@media screen and (min-width: 540px) {
.capa-trabalhos_emibonnie {
    background-position: 0 -80px;
}
}

@media screen and (min-width: 768px) {
    .capa-trabalhos {
        height: 300px;
        max-width: 600px;
        margin: 0 auto;
    }

    .capa-trabalhos_emibonnie {
        background-position: 0 -100px;
    }
}

@media screen and (min-width: 1024px) and (min-height: 600px) {    
    .capa-trabalhos_emibonnie {
        background-image: url('/img/bg_img/capa-trabalhos_emibonnie-desktop.png');
    }

    .capa-trabalhos_emi {
        max-width: 500px;
    }
}