.trabalhos-container .filtro-pesquisa {
    padding: 2rem 1rem;

    position: relative;
}

.capa-trabalhos {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 1rem;
}

.capa-trabalhos_emibonnie {
    background-image: url('/img/bg_img/capa-trabalhos-emibonnie-mobile.png');
    height: 280px;
}
.capa-trabalhos_emi {
    background-image: url('/img/bg_img/capa-trabalhos_emi-mobile.png');
}
.capa-trabalhos_bonnie {
    background-image: url('/img/bg_img/capa-trabalhos_bonnie-mobile.png');
}

.trabalhos-container h1 {
    padding-top: 2rem;
    text-align: center;
    line-height: 1;
    font-size: 2.8rem;
}

.secao-trabalhos {
    padding: 1rem;
}

.secao-trabalhos h2 {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.secao-trabalhos .tipo-trabalho {
 font-size: 2rem;
 margin-bottom: 1rem;
}

.filtro-pesquisa {
    max-width: 500px;
    margin: 0 auto 2rem auto;
}

.nav-btns {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--background-dark-transparente);
}

.nav-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--destaque-secundario);
    border-radius: 8px;
    background: transparent;
    color: white;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    text-decoration: none;
    border: 2px solid var(--destaque-primario);
    transform: translateY(-2px);
}

.nenhum-trabalho {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
}

@media screen and (min-width: 768px) {
    .capa-trabalhos {
        height: 300px;
        max-width: 600px;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1024px) and (min-height: 600px) {    
    .capa-trabalhos_emibonnie {
        background-image: url('/img/bg_img/capa-trabalhos_emibonnie-desktop.png');
    }

    .capa-trabalhos_emi {
        max-width: 500px;
    }

    .capa-trabalhos {
        height: 200px;
    }
}