.wiki_container {
  padding: 2rem 1rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.details_content {
  border: 2px solid var(--destaque-primario);
  border-radius: 8px;
  background-color: var(--background-dark-transparente);
  width: 320px;
  margin: 0 auto;
}

#hero {
  position: relative;
}

.content_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details_content .poster_series {
  max-width: 60%;
  transform: translateY(-15px);
  margin: 0 auto;
}

.poster_series-desktop {
  max-width: 60%;
  margin: 0 auto;
}

.series-title {
  background: var(--destaque-primario);
  text-align: center;
  width: 100%;
  padding: 0.3rem 0;
  font-weight: bold;
}

.poster_series img,
.poster_series-desktop img {
  width: 100%;
}

.details_content h2 {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background: var(--destaque-primario);
}

.info_series {
  border: 1px solid var(--destaque-primario);
  font-size: 0.8rem;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

.info_series tr {
  border-bottom: 1px solid var(--destaque-primario);
}

.info_series td,
.info_series th {
  padding: 0.8rem;
}

a {
  color: var(--destaque-secundario);
}

a:hover {
  text-decoration: underline;
}

.indice-btn {
  background: var(--background-sombra);
  color: var(--destaque-secundario);
  padding: 0.6rem 0.8rem;
  border-radius: 50% 0 0 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  position: fixed;
  top: 30%;
  right: 0;
  transform: translateX(15%);
  z-index: 1;
}

.indice-icons {
  position: relative;
  width: 24px;
  height: 24px;

  i {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
  }
}

.indice-icons.toggle {
  i {
    transform: rotate(180deg);
  }
}

.indice {
  display: none;
  position: fixed;
  top: 30%;
  right: 3.5rem;
  background: var(--background-sombra);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-width: 200px;

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  hr {
    border: none;
    border-top: 1px solid #a5a5a5;
    margin: 0.5rem 0;
  }

  ol {
    padding-left: 1rem;
    color: #a5a5a5;
  }

  ol li {
    margin-bottom: 0.5rem;
  }

  ol a {
    color: var(--texto);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Animação de Fechamento (Fade & Scale Out) */
@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.indice.ativo.open {
  display: block;
  animation: fadeInScale 0.3s ease-out forwards; /* 'forwards' mantém o estado final */
}

.indice.ativo {
  animation: fadeOutScale 0.3s ease-in forwards;
}

.wiki_container section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wiki_container section h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    transition: transform 0.3s ease-in-out;
  }

  i.selected {
    transform: rotate(180deg);
  }
}

hr {
  border: none;
  border-top: 1px solid var(--destaque-primario);
}

.episodio_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.episodio_container .episodio_poster {
  margin: 0 auto;
  text-align: center;

  img {
    max-width: 375px;
    width: 100%;
  }
}

.episodio_toggle {
  margin: 0.8rem 0;
}

.lista {
  padding-left: 1rem;
  line-height: 1.6;
}

.tabela_trilha {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
  background: var(--background-dark-transparente);
}

.tabela_trilha thead {
  background: var(--destaque-primario);
}

.tabela_trilha th,
.tabela_trilha td {
  border: 1px solid var(--destaque-primario);
  padding: 0.5rem;
  text-align: center;
}

#sinopse p {
  margin-bottom: 1rem;
}

#sinopse iframe {
  width: 100%;
  height: 215px;
}

.btn {
  background: var(--destaque-primario);
  padding: 0.8rem 1.2rem;
  width: fit-content;
  border-radius: 36px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;

  a {
    color: var(--texto);
    font-weight: 600;
  }
}

.btn:hover {
  background: var(--destaque-secundario);

  a {
    color: var(--background-dark);
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  #hero {
    position: relative;

    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-areas:
      "title title"
      "text details"
      "indice details"
      "hr hr";
  }
  #hero h1 {
    grid-area: title;
    text-align: left;
  }

  #hero .details_content {
    grid-area: details;
  }

  #hero .text-content {
    grid-area: text;
  }

  #hero hr {
    grid-area: hr;
  }

  .details_content {
    width: 250px;
    align-self: start;
    margin: 0;
  }

  .wiki_container section {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }

  .episodio_container {
    flex-direction: row-reverse;
  }

  .episodio_container .episodio_poster {
    height: 300px;
    object-fit: contain;
  }

  .episodio_container .episodio_poster img {
    height: 100%;
    width: auto;
  }

  .indice-btn {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .indice {
    display: block;
    animation: none;

    position: static;
    transform: none;

    grid-area: indice;
    align-self: self-end;
    background-color: var(--background-dark-transparente);
    border-left: 2px solid var(--destaque-primario);
  }

  .indice li a:hover {
    text-decoration: none;
    color: var(--destaque-secundario);
    transition: all 0.3s ease-in-out;
  }

  .indice .indice-title {
    color: var(--destaque-secundario);
    cursor: pointer;
  }

  .indice hr {
    border: 1px solid var(--destaque-primario);
  }

  #sinopse iframe {
    width: 100%;
    height: 345px;
  }
}

@media screen and (min-width: 1024px) {
  .content_container {
    padding: 2rem;
    border-radius: 16px;
    background-color: var(--background-dark-transparente);
  }
}

@media screen and (min-width: 1280px) {
  .wiki_container section {
    max-width: 700px;
  }

  .wiki_container section#hero {
    grid-template-columns: 1fr 300px;
  }

  .details_content {
    width: 300px;
  }

  .indice {
    align-self: self-start;
  }

  #sinopse iframe {
    width: 100%;
    height: 415px;
  }
}
